<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ase4j-server/src/main/java/org/ogreg/ase4j/StorageService.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.ogreg.ase4j.StorageService"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ase4j-examples"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.maven.ide.eclipse.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlogback.configurationFile=&quot;${workspace_loc:/ase4j-examples/src/main/resources/logback.xml}&quot;&#10;-DdataDir=&quot;${workspace_loc:/ase4j-examples/target}/data&quot;&#10;-Dschema=&quot;${workspace_loc:/ase4j-examples/src/main/resources/store.xml}&quot;"/>
</launchConfiguration>
